/* FONT IMPORTS */
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;700&display=swap');

.visually-hidden {
  /* clip is deprecated, but still works and better than display: none; */
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  background-color: black;
  color: white;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: 'Fredoka', sans-serif;
  font-weight: 400;
}

main {
  flex: 1 0 auto;
}

nav {
  margin-bottom: 2rem;
}

fieldset {
  border: none;
}

.card .card-title {
  font-weight: 400;
}

#profile {
  position: fixed;
}

#quickmenu {
  position: fixed;
  right: 20%;
}

.post .row {
  margin-bottom: 0;
}

.post .card-panel{
  padding: 12px;
}

.post .card-title-container {
  padding-top: 12px;
  padding-right: 12px;
}

.post .card-title {
  line-height: 0;
}

.post p.card-content {
  padding: 12px 24px;
  font-size: 17px;
  margin-top: 0;
}

.post .code-content {
  padding-top: 0;
}

.vote-button {
  padding: 0 8px;
}

.signin-link {
  font-size: 1.5rem !important;
}