/* FONT IMPORTS */
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;700&display=swap');

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: 'Fredoka', sans-serif;
  font-weight: 400;
}

main {
  flex: 1 0 auto;
}

nav {
  margin-bottom: 2rem;
}

#profile {
  position: fixed;
}

.post .row {
  margin-bottom: 0;
}

.vote-button {
  padding: 0 8px;
}