{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col s12 m8 push-m2 l8 push-l2 xl6 push-xl3">
        <div class="row grey lighten-3 z-depth-2">
            <form id="reset_password" class="signup-form col s12 l10 push-l1 center-align" method="POST">
                <fieldset class="row">
                    <legend class="deep-purple-text text-darken-3">Choose A New Password</legend>
                    {{ form.hidden_tag() }}
                    <div class="input-field col s12">
                        {% if form.password.errors %}
                        {{ form.password(class="invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.password.errors %}
                            <span class="red-text">{{ error }}</span>
                            {% endfor %}
                        </div>
                        {% else %}
                        {{ form.password }}
                        {% endif %}
                        {{ form.password.label }}
                    </div>
                    <div class="input-field col s12">
                        {% if form.confirm_password.errors %}
                        {{ form.confirm_password(class="invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.confirm_password.errors %}
                            <span class="red-text">{{ error }}</span>
                            {% endfor %}
                        </div>
                        {% else %}
                        {{ form.confirm_password }}
                        {% endif %}
                        {{ form.confirm_password.label }}
                    </div>
                    {{ form.submit(class="waves-effect waves-light btn yellow") }}
                </fieldset>
            </form>
        </div>
        <span class="yellow-text l2 signup-link">
            Don't have an account yet? <a href="{{ url_for('auth.signin') }}" class="light-blue-text text-lighten-2">Sign Up!</a> It's free!
        </span>
    </div>
</div>
{% endblock %}