{% extends 'base.html' %}

{% block content %}
<!-- Post -->
<div class="row">
    <div class="col s12 m10 offset-m1 l8 offset-l2">
        <div class="post card grey lighten-1">
            <div class="card-panel z-depth-1 valign-wrapper">
                <div class="col s3 m2">
                    <img src="{{ post.created_by.profile_image }}" alt="User's profile picture"
                        class="circle responsive-img">
                </div>
                <div class="col s10">
                    <a
                        href="{{ url_for('main.view_user', username=post.created_by.username) }}">{{ post.created_by.username }}</a>
                    <span class="grey-text text-darken-2">{{ post.created_date.strftime('%Y-%m-%d') }}</span>
                    <div class="card-title-container">
                        <span class="card-title flow-text">{{ post.post_title }}</span>
                    </div>
                </div>
            </div>
            <p class="card-content">{{ post.post_content }}</p>
            {% if post.code_content %}
            <div class="card-content code-content">
                <div class="chip deep-purple-text text-darken-3 z-depth-1">{{ post.code_language }}</div>
                <pre
                    class="z-depth-2"><code class="language-{{ post.code_language }}">{{ post.code_content }}</code></pre>
            </div>
            {% endif %}
            <div class="card-action grey lighten-2 z-depth-1">
                {% if post.post_type == "post" %}
                <a href="{{ url_for('posts.update_votes', id=post.id, vote='up') }}"
                    class="waves-effect waves-dark btn-flat vote-button">
                    <i
                        class="material-icons right green-text {% if current_user in post.votes.up %} accent-4 {% else %} text-lighten-2 {% endif %}">
                        thumb_up
                    </i>
                    <span>
                        {{ post.votes.up|length }}
                    </span>
                </a>
                <a href="{{ url_for('posts.update_votes', id=post.id, vote='down') }}"
                    class="waves-effect btn-flat vote-button">
                    <i
                        class="material-icons right small red-text {% if current_user in post.votes.down %} accent-4 {% else %} text-lighten-2 {% endif %}">
                        thumb_down
                    </i>
                    <span>
                        {{ post.votes.down|length }}
                    </span>
                </a>
                <a href="{{ url_for('posts.new_comment', id=post.id)}}"
                    class="waves-effect waves-light btn right">Reply</a>
                {% if current_user == post.created_by %}
                <a href="{{ url_for('posts.edit_post', id=post.id)}}"
                    class="waves-effect waves-light red darken-2 btn white-text tooltipped right"
                    data-position="left" data-tooltip="Edit Post"><i class="fa-solid fa-file-pen"></i><span class="visually-hidden">Edit Post</span></a>
                {% endif %}
                <a href="{{ url_for('posts.view_post', id=post.id)}}"
                    class="waves-effect btn-flat grey-text text-darken-2 right"><i
                        class="material-icons right small">chat</i><span>{{ post.comments|length }}
                        {% if post.comments|length == 1 %} comment {% else %} comments {% endif %}</span>
                </a>
                {% else %}
                <a href="{{ url_for('posts.new_comment', id=post.id)}}"
                    class="waves-effect waves-light deep-purple darken-3 btn white-text">Assist</a>
                {% if current_user == post.created_by %}
                <a href="{{ url_for('posts.edit_post', id=post.id)}}"
                    class="waves-effect waves-light materialize-red white-text lighten-1 btn tooltipped"
                    data-position="right" data-tooltip="Edit Post"><i class="fa-solid fa-file-pen"></i><span class="visually-hidden">Edit Post</span></a>
                {% endif %}
                <a href="{{ url_for('posts.view_post', id=post.id)}}"
                    class="waves-effect btn-flat grey-text text-darken-2 right">
                    <i class="material-icons small right">chat</i>
                    <span>{{ post.comments|length }} {% if post.comments|length == 1 %} assist {% else %} assists
                        {% endif %}</span>
                </a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
<!-- Comment -->
<div class="row">
    <div class="comment col s12 m10 offset-m1 l8 offset-l2">
        <div class="card col grey lighten-2">
            <div class="col hide-on-small-only m2 comment-user-info center-align">
                <img src="{{ comment.created_by.profile_image }}" alt="User's profile picture"
                    class="circle responsive-img">
            </div>
            <div class="col s12 m8 card-content">
                <a href="{{ url_for('main.view_user', username=comment.created_by.username) }}">{{ comment.created_by.username }}</a>
                <span class="grey-text text-darken-2">{{ comment.created_date.strftime('%Y-%m-%d') }}</span>
                {% if current_user == comment.created_by %}
                <a href="{{ url_for('posts.edit_comment', post_id=post.id, comment_id=comment.id)}}" class="btn-flat blue-text">EDIT</a>
                {% endif %}
            </div>
            <div class="col s12 m8 card-content">
                <p>{{ comment.comment_content }}</p>
            </div>
            {% if comment.code_language and comment.code_content %}
            <div class="col s12 m10 card-content">
                <div class="chip deep-purple-text text-darken-3 z-depth-1">{{ comment.code_language }}</div>
                <pre
                    class="z-depth-2"><code class="language-{{ comment.code_language }}">{{ comment.code_content }}</code></pre>
            </div>
            {% endif %}
            <div class="col s12 card-action">
                <a href="{{ url_for('posts.update_votes', id=comment.id, vote='up') }}"
                    class="waves-effect waves-dark btn-flat vote-button">
                    <i
                        class="material-icons right green-text {% if current_user in comment.votes.up %} accent-4 {% else %} text-lighten-2 {% endif %}">
                        thumb_up
                    </i>
                    <span>
                        {{ comment.votes.up|length }}
                    </span>
                </a>
                <a href="{{ url_for('posts.update_votes', id=comment.id, vote='down') }}"
                    class="waves-effect btn-flat vote-button">
                    <i
                        class="material-icons right small red-text {% if current_user in comment.votes.down %} accent-4 {% else %} text-lighten-2 {% endif %}">
                        thumb_down
                    </i>
                    <span>
                        {{ comment.votes.down|length }}
                    </span>
                </a>
                <a href="{{ url_for('posts.new_subcomment', post_id=post.id, comment_id=comment.id)}}"
                    class="waves-effect waves-light btn-flat right">Reply</a>
                <div class="waves-effect btn-flat right">
                    <i class="material-icons right small grey-text text-darken-2">chat</i>
                    <span>{{ comment.comments|length }}</span>
                </div>
            </div>
        </div>
    </div>
    <!-- Edit Subcomment Form -->
    <div class="row">
        <form id="new_subcomment" class="col s11 offset-s1 m9 offset-m2 l7 offset-l3 center-align new" method="POST">
            <fieldset class="card valign-wrapper">
                <legend class="visually-hidden">Comment SubComment</legend>
                {{ form.hidden_tag() }}
                <div class="col s4 m3 xl2 grey lighten-1 card-panel comment-user-info">
                    <img src="{{ current_user.profile_image }}" alt="User's profile picture" class="circle responsive-img">
                </div>
                <div class="col s8 m9 xl10">
                    <div class="input-field col s12">
                        {% if form.comment_content.errors %}
                        {{ form.comment_content(class="materialize-textarea invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.comment_content.errors %}
                            <span class="red-text">{{ error }}</span>
                            {% endfor %}
                        </div>
                        {% else %}
                        {{ form.comment_content(class="materialize-textarea") }}
                        {% endif %}
                        {{ form.comment_content.label }}
                    </div>
                    {{ form.submit(class="waves-effect waves-light btn-small yellow") }}
                </div>
            </fieldset>
        </form>
    </div>
</div>
{% endblock %}