<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Material Icons CSS -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- PrismJS CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/prism.css')}}">
    <!-- Materialize CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/materialize.css')}}">
    <!-- Own CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css')}}">
    {% if title %}
    <title>{{ title }} | DevBus</title>
    {% else %}
    <title>DevBus | If StackOverflow and Twitter had a child.</title>
    {% endif %}
    <!-- FontAwesome Script -->
    <script src="https://kit.fontawesome.com/f05b6615ad.js" crossorigin="anonymous"></script>
</head>

<body class="grey darken-3">
    <header>
        <nav>
            <div class="container nav-wrapper">
                <a href="{{ url_for('main.home' )}}" class="brand-logo hide-on-small-only">DevBus</a>
                <a href="{{ url_for('main.home' )}}" class="brand-logo hide-on-med-and-up">DB</a>
                <a data-target="mobile-menu" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                <a data-target="search-field--container" class="autocomplete-trigger hide-on-med-and-up right"
                    data-position="bottom">
                    <i class="material-icons">search</i>
                    <span class="hide">Show/Hide Search</span>
                </a>
                {% if current_user.is_authenticated %}
                <ul class="right">
                    <li><a href="{{ url_for('auth.logout')}}"
                            class="hide-on-small-only waves-effect waves-light btn-small tooltipped"
                            data-position="bottom" data-tooltip="Sign Out"><i
                                class="fa-solid fa-right-to-bracket"></i></a></li>
                </ul>
                <ul class="right hide-on-med-and-down">
                    <li><a data-target="search-field--container" class="autocomplete-trigger" data-position="left"
                           ><i class="material-icons">search</i><span class="hide">Show/Hide
                                Search</span></a></li>
                    <li><a href="{{ url_for('auth.profile')}}">My Profile</a></li>
                    {% else %}
                    <ul class="right hide-on-med-and-down">
                        <li><a data-target="search-field--container" class="autocomplete-trigger"><i
                                    class="material-icons">search</i><span class="hide">Show Search Field</span></a>
                        </li>
                        <li><a href="{{ url_for('main.home')}}">Home</a></li>
                        <li><a href="{{ url_for('auth.signin')}}">Sign In</a></li>
                        <li><a href="{{ url_for('auth.signup')}}" class="waves-effect waves-light btn">Sign Up</a></li>
                        {% endif %}
                    </ul>
            </div>
        </nav>
        <ul class="sidenav" id="mobile-menu">
            {% if current_user.is_authenticated %}
            <li><a href="{{ url_for('auth.profile')}}">My Profile</a></li>
            <li><a href="{{ url_for('auth.edit_profile')}}">Edit
                    Profile</a></li>
            <div class="divider"></div>
            <li><a href="{{ url_for('posts.new_post')}}">Create
                    New Post</a></li>
            <li><a href="#">View My Posts</a></li>
            <li><a href="#">View My Comments</a></li>
            <div class="divider"></div>
            <li><a href="{{ url_for('auth.logout')}}" class="waves-effect waves-light btn">Sign
                    Out</a></li>
            {% else %}
            <li><a href="{{ url_for('main.home')}}">Home</a></li>
            <li><a href="{{ url_for('auth.signin')}}">Sign In</a></li>
            <li><a href="{{ url_for('auth.signup')}}" class="waves-effect waves-light btn">Sign
                    Up</a></li>
            {% endif %}
        </ul>
    </header>
    <main>
        <div class="container">
            <div class="row search-field--container">
                <div class="col s10 push-s1 l6 push-l3 scale-transition scale-out" id="search-field">
                    <div class="row z-depth-5 valign-wrapper">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">search</i>
                            <input type="text" id="autocomplete-input" class="autocomplete">
                            <label for="autocomplete-input">Looking for something?</label>
                        </div>
                        <div class="col">
                            <i class="material-icons" data-target="search-field--container">close</i>
                        </div>
                    </div>
                </div>
            </div>
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            {% for category, message in messages %}
            <div class="visually-hidden">
                <span class="toast {{ category }}">{{ message }}</span>
            </div>
            {% endfor %}
            {% endif %}
            {% endwith %}
            <h1 class="visually-hidden">{{ title }}</h1>
            {% block content%}
            {% endblock %}
        </div>
    </main>
    <footer class="page-footer">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Footer Content</h5>
                    <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer
                        content.</p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">Links</h5>
                    <ul>
                        <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                © 2022 NyxHexen Copyright
                <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
            </div>
        </div>
    </footer>
    <!-- jQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <!-- Compiled and minified Materialize JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <!-- Prism JS -->
    <script src="{{ url_for('static', filename='js/prism.js') }}"></script>
    <!-- Own JS -->
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>

</html>