{% extends 'base.html' %}

{% block content %}
    <div class="row">
        <div class="col s12 m8 push-m2 l8 push-l2 xl6 push-xl3">
            <div class="row grey lighten-3 z-depth-2">
                <form id="forgot_password" class="signup-form col s12 l10 push-l1 center-align" method="POST">
                    <fieldset class="row">
                        {{ form.hidden_tag() }}
                        <legend class="deep-purple-text text-darken-3">Forgot Your Password?</legend>
                        <p>Not a problem! Input your e-mail in the field below and I'll see what I can do.</p>
                        <div class="input-field col s12">
                            {{ form.email }}
                            {{ form.email.label }}
                        </div>
                        {{ form.submit(class="waves-effect waves-light btn yellow") }}
                    </fieldset>
                </form>
            </div>
            <span class="yellow-text l2 signup-link">
                Don't have an account yet? <a href="{{ url_for('auth.signin') }}">Sign Up!</a> It's free!
            </span>
        </div>
    </div>
{% endblock %}