{% extends 'base.html' %}

{% block content %}
{% if current_user.f_name %}
<h2 class="center-align white-text">Hi, {{ current_user.f_name }}</h2>
{% else %}
<h2 class="center-align white-text">Welcome, {{ current_user.username }}</h2>
{% endif %}
<section class="section">
    <div class="row">
        <div class="col s12 m8 push-m2">
            <div class="card grey lighten-3">
                <div class="card-content">
                    <div class="row">
                        <div class="col s12 m5 center-align">
                            <img class="responsive-img circle"
                                src="{{ current_user.profile_image }}"
                                alt="Your profile Picture">
                        </div>
                        <div class="col s12 m7">
                            <div class="input-field col s12 m6">
                                {{ form.f_name(value=current_user.f_name, disabled=True) }}
                                {{ form.f_name.label }}
                            </div>
                            <div class="input-field col s12 m6">
                                {{ form.l_name(value=current_user.l_name, disabled=True) }}
                                {{ form.l_name.label }}
                            </div>
                            <div class="input-field col s12">
                                {% if form.email.errors %}
                                {{ form.email(class="invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.email.errors %}
                                    <span class="red-text">{{ error }}</span>
                                    {% endfor %}
                                </div>
                                {% else %}
                                {{ form.email(value=current_user.email, disabled=True) }}
                                {% endif %}
                                {{ form.email.label }}
                            </div>
                            <div class="input-field col s12">
                                {% if form.username.errors %}
                                {{ form.username(class="invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.username.errors %}
                                    <span class="red-text">{{ error }}</span>
                                    {% endfor %}
                                </div>
                                {% else %}
                                {{ form.username(value=current_user.username, disabled=True) }}
                                {% endif %}
                                {{ form.username.label }}
                            </div>
                            <div class="input-field col s12">
                                <textarea id="bio" class="materialize-textarea" placeholder="Tell people who you are!"
                                    disabled>{{ current_user.bio }}</textarea>
                                <label for="bio">Bio</label>
                            </div>
                        </div>
                        <div class="col s12 m8 push-m2">
                            <span class="card-title center-align">Languages</span>
                            {% if current_user.languages[0]|length != 0 or current_user.languages|length >= 1 %}
                            {% for language in current_user.languages %}
                            {% if language|length != 0 %}
                            <div class="chip grey darken-1 yellow-text">{{ language }}</div>
                            {% endif %}
                            {% endfor %}
                            {% else %}
                            <div class="chip grey darken-1 yellow-text">Edit your profile to add language tags!</div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="card-action center-align">
                    <a class="waves-effect waves-light btn red">Change Password</a>
                    <a href="{{ url_for('edit_profile') }}"
                        class="waves-effect waves-light btn">Update Profile</a>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}