<!-- User Sidenav -->
{% if current_user.is_authenticated %}
<div id="profile" class="row hide-on-small-and-down">
    <div class="col m4 l3 xl2 push-xl1">
        <div class="card">
            <div class="card-content">
                <!-- User Picture -->
                <div class="row">
                    <div class="col s8 push-s2">
                        <img class="circle responsive-img" src="{{ current_user.profile_image }}"
                            alt="Silhouette of a woman">
                    </div>
                </div>
                <!-- User Username & Bio -->
                <div class="row">
                    <div class="col profile-username s12">
                        {% if current_user.f_name %}
                        <span class="card-title center-align">{{ current_user.f_name}}
                            {{ current_user.l_name }}</span>
                        {% else %}
                        <span class="card-title center-align">{{ current_user.username }}</span>
                        {% endif %}
                        <p>{{ current_user.bio }}</p>
                    </div>
                </div>
                <!-- User Languages -->
                <div class="row">
                    <div class="col profile-languages s12">
                        <span class="card-title center-align">My Superpowers</span>
                        <div class="user-languages truncate">
                            {% for language in current_user.languages %}
                            <div class="chip grey lighten-3">{{ language }}</div>
                            {% endfor %}
                        </div>
                        <div class="card-action">
                            <span class="btn-flat deep-purple-text">Show All</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}
<div id="quickmenu" class="row hide-on-med-and-down">
    <div class="col s3 push-s7 xl2 push-xl7">
        {% if current_user.is_authenticated %}
        <div class="card card-content">
            <div class="collection">
                <a href="#!" class="collection-item deep-purple-text text-darken-3">Create New Post</a>
                <a href="#!" class="collection-item deep-purple-text text-darken-3">View My Posts</a>
                <a href="#!" class="collection-item deep-purple-text text-darken-3">View My Comments</a>
                <a href="#!" class="collection-item deep-purple-text text-darken-3">Edit Profile</a>
            </div>
        </div>
        {% else %}
        <div class="card">
            <div class="card-content center-align">
                <span class="card-title">New here?</span>
                <p>Sign up now to explore all that DevBus has to offer!</p>
                <br>
                <a href="{{ url_for('auth.signup') }}"class="waves-effect waves-light btn green">Sign Up</a>
            </div>
        </div>
        {% endif %}
    </div>
</div>