<!-- User Sidenav -->
{% if current_user.is_authenticated %}
<div id="profile" class="row hide-on-small-and-down container">
    <div class="col m5 pull-m1 l4 pull-l2 xl3 pull-xl1">
        <div class="card z-depth-5">
            <div class="card-content">
                <!-- User Picture -->
                <div class="row">
                    <div class="col s8 push-s2">
                        <img class="circle responsive-img" src="{{ current_user.profile_image }}"
                            alt="User Profile Picture">
                    </div>
                </div>
                <!-- User Username & Bio -->
                <div class="row">
                    <div class="col profile-username s12 center-align">
                        {% if current_user.f_name %}
                        <span class="card-title">{{ current_user.f_name}}
                            {{ current_user.l_name }}</span>
                        <p class="center-align">@{{ current_user.username }}</p>
                        {% else %}
                        <span class="card-title">{{ current_user.username }}</span>
                        {% endif %}
                        <div class="divider"></div>
                        <!-- <p>{% if current_user.bio %} {{ current_user.bio }} {% else %} You {% endif %}</p> -->
                        <p>{% if current_user.bio %} {{ current_user.bio }} {% else %} You haven't added anything here yet... {% endif %}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}
<!-- Right-side Quick/Side Menu -->
<div id="quickmenu" class="row hide-on-med-and-down container">
    <div class="col l4 offset-l10 xl3 offset-xl10">
        {% if current_user.is_authenticated %}
        <div class="card card-content z-depth-5">
            <div class="collection">
                <a href="{{ url_for('posts.new_post')}}" class="collection-item deep-purple-text text-darken-3">Create New Post</a>
                <a href="{{ url_for('main.search_results', arg=current_user.username, filter='user') }}" class="collection-item deep-purple-text text-darken-3">View My Posts</a>
                <a href="{{ url_for('auth.edit_profile')}}" class="collection-item deep-purple-text text-darken-3">Edit Profile</a>
            </div>
        </div>
        {% else %}
        <div class="card">
            <div class="card-content center-align">
                <span class="card-title">New here?</span>
                <p>Sign up now to explore all that DevBus has to offer!</p>
                <br>
                <a href="{{ url_for('auth.signup') }}" class="waves-effect waves-light btn green">Sign Up</a>
            </div>
        </div>
        {% endif %}
    </div>
</div>