{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col s12 m8 push-m2 l4 push-l4 grey lighten-3">
        <div class="row">
            <form class="signin-form col s12 center-align" method="POST">
                <fieldset class="row">
                    {{ form.hidden_tag() }}
                    <legend class="deep-purple-text text-darken-3">Sign In</legend>
                    <div class="input-field col s12">
                        {% if form.email.errors %}
                        {{ form.email(class="invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.email.errors %}
                            <span class="red-text">{{ error }}</span>
                            {% endfor %}
                        </div>
                        {% else %}
                        {{ form.email }}
                        {% endif %}
                        {{ form.email.label }}
                    </div>
                    <div class="input-field col s12">
                        {% if form.password.errors %}
                        {{ form.password(class="invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.password.errors %}
                            <span class="red-text">{{ error }}</span>
                            {% endfor %}
                        </div>
                        {% else %}
                        {{ form.password }}
                        {% endif %}
                        {{ form.password.label }}
                    </div>
                    <p>
                        <label>
                            {{ form.remember(class="checkbox") }}
                            <span>Stay signed in?</span>
                        </label>
                    </p>
                    {{ form.submit(class="waves-effect waves-light btn yellow") }}
                </fieldset>
            </form>
            <div class="card-content col s12 m6 center-align">
                <a href="#">Forgotten Email?</a>
            </div>
            <div class="card-content col s12 m6 center-align">
                <a href="#">Forgotten Password?</a>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <span class="col s12 m8 push-m2 l4 push-l4 yellow-text signin-link">
        Don't have an account yet? <a href="{{ url_for('signin') }}">Sign Up!</a> It's free!
    </span>
</div>
{% endblock %}