<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Compiled and minified Materialize CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Material Icons CSS -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- PrismJS CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/prism.css')}}">
    <!-- Own JS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css')}}">
    {% if title %}
    <title>{{ title }} | DevBus</title>
    {% else %}
    <title>DevBus | If StackOverflow and Twitter had a child.</title>
    {% endif %}
</head>

<body class="grey darken-3">
    <header>
        <nav class="deep-purple darken-3">
            <div class="container nav-wrapper">
                <a href="{{ url_for('home' )}}" class="brand-logo">Logo</a>
                <a href="#" data-target="mobile-menu" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="{{ url_for('home' )}}">Home</a></li>
                    <li><a href="{{ url_for('signin' )}}">Sign In</a></li>
                    <li><a href="{{ url_for('signup' )}}"
                            class="yellow black-text waves-effect waves-light btn"><strong>Sign Up</strong></a></li>
                </ul>
            </div>
        </nav>
        <ul class="sidenav" id="mobile-menu">
            <li><a href="{{ url_for('home' )}}">Home</a></li>
            <li><a href="{{ url_for('signin')}}">Sign In</a></li>
            <li><a href="{{ url_for('signup')}}">SignUp</a></li>
        </ul>
    </header>
    <main>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                <div class="container">
                    <div class="row">
                        <div class="col s12 m8 push-m2">
                            <div class="card-panel {{ category }}">
                                <span>{{ message }}</span>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <h1 class="visually-hidden">{{ title }}</h1>
        {% block content%}
        {% endblock %}
    </main>
    <footer class="page-footer deep-purple darken-3">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Footer Content</h5>
                    <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer
                        content.</p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">Links</h5>
                    <ul>
                        <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                © 2022 NyxHexen Copyright
                <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
            </div>
        </div>
    </footer>
    <!-- jQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <!-- Compiled and minified Materialize JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <!-- Own JS -->
    <script src="{{ url_for('static', filename='js/prism.js') }}"></script>
    <!-- Own JS -->
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>

</html>